/* 城市区域 */
.city {
    min-width: 540px;
    padding: 0;
}

.city a {
    display: block;
    height: 260px;
    position: relative;
    overflow: hidden;
}

.city-img {
    display: block;
    height: 260px;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}

/* 城市英雄 */
.city-hero {
    display: block;
    position: absolute;
    right: -100px;
    top: 0;
    opacity: 0;
    z-index: 3;
    transition: 0.5s;
}

/* 朦层 */
.city a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 2;
    transition: 0.5s;
}

/* 边框 */
.city-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 7px solid transparent;
    z-index: 5;
    top: 0;
    left: 0;
    transition: 0.5s;
}

/* 城市标题 */
.city h2 {
    color: #fff;
    font-size: 36px;
    letter-spacing: 3px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 260px;
    z-index: 4;
    background: url(../原神集训营素材/asset/title-square.png) center no-repeat;
    transition: 0.5s;
}

/* 城市标题下划线 */
.city-item h2::after {
    content: '';
    width: 210px;
    height: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
    background: url(../原神集训营素材/asset/title-decoration.png) no-repeat;
    opacity: 0;
    transition: 0.2s;
}

.city-item:hover .city-img {
    transform: scale(1.05);
}

.city-item:hover::before {
    background: rgba(0, 0, 0, 0.2);
}

.city-item:hover::after {
    border-color: #fff;
}

.city-item:hover .city-hero,
.city-item:hover h2::after {
    opacity: 1;
}

/* 未开发区域 */
.city-wait h2 {
    color: rgba(255, 255, 255, 0.3);
    background: none;
}